{% extends '::bootstrap3.html.twig' %}

{% block body -%}
    <h1>Unit edit</h1>

    {{ form_start(edit_form) }}

    	{% for entry in edit_form %}
    	<div class="control-group">
    		<label>{{ form_label(entry) }}</label>
    		<div class="controls">{{ form_widget(entry) }}</div>
    	</div>
    	{% endfor %}

    {{ form_end(edit_form) }}


    <a href="{{ path('admin_unit') }}">
        返回页面列表
    </a>


    {{ form(delete_form) }}

{% endblock %}
