{% extends '::bootstrap3.html.twig' %}

{% block left %}
<ul>
    {% for p in programs %}
    <li>
        <a href="{{ url('admin_unit_pagination' , { 'program' : p.id , 'page' : 1 } ) }}">{{ p.subject }}</a>
        <small>{{ p.summary }}</small>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block body %}
    <h1>Unit list</h1>
    {{knp_pagination_render( entities)}}
    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th>Id</th>
            <th>Subject</th>
            <th>Outline</th>
            <th>Playfile</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_unit_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.subject }}</td>
                <td>{{ entity.outline }}</td>
                <td>{{ entity.playFile }}</td>
                <td>
                <ul class="nav nav-pills nav-stacked">

                    <li><a href="{{ path('admin_unit_show', { 'id': entity.id }) }}">浏览</a></li>

                    <li><a href="{{ path('admin_unit_edit', { 'id': entity.id }) }}">编辑</a></li>

                </ul>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>



        <ul>
        <li>
            <a href="{{ path('admin_unit_new') }}">
                创建新页面
            </a>
        </li>
    </ul>
    {% endblock %}
