{% extends "::bootstrap3.html.twig" %}

{% block title %}精创学院 - {{current.subject}}{% endblock %}

{% block left %}
	
	<h3>课程大纲</h3>
	<hr/>

	<ul class="nav nav-pills nav-stacked">
		
		<li class="active"><a href="{{ url('mc_college_program' , { 'id' : current.id } ) }}">
			<i class="fa fa-play-circle-o"></i>  
			{{current.subject}}
			</a>
		</li>

		<li>
			<ul class="nav-small" style="padding-left:0px;margin-left:0px;">
				<li>课程内容</li>
				{% for key,course in courses %}
				<li><a href="{{ url('mc_college_learn' , {'id':course.id}) }}">{{key+1}}. {{course.subject}}</a></li>
				{% endfor %}
			</ul>
		</li>
		
	</ul>
	<hr/>
	<h4>其他课程</h4>
	<ul class="nav nav-pills nav-stacked">

		{% for program in programs %}

		{% if program.id == current.id %}
		{% else %}
		<li><a href="{{ url('mc_college_program' , { 'id' : program.id } ) }}">
			<i class="fa fa-play-circle-o"></i>  
			{{program.subject}}
			<span class="badge pull-right">{{program.view}}</span>
			</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>

{% endblock %}


{% block body %}
	
	<h3>{{current.subject}} <small>{{current.summary}}</small></h3>
	<hr/>


	<div class="col-md-12">
    <div class="page-header text-center">
        <h1 id="timeline">本课程学习计划</h1>
    </div>
    <ul class="timeline">
    	{% set flag = 0 %}
    	{% for key,course in courses %}
        <li {% if flag % 2 %}class="timeline-inverted"{% endif %}>
          <div class="timeline-badge primary">
          <a><i class="glyphicon glyphicon-record" rel="tooltip" title="here we go" id=""></i></a>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              	
            </div>
            <div class="timeline-body">
              <p class="lead">第{{key+1}}步</p>
              <p class="lead">{{course.subject}}</p>
              <p>{{course.outline}}</p>
	            <dl class="dl-horizontal" style="padding-left:20px;">
	            	<dt>关键字:</dt>
	            	<dd>{{course.keywords}}</dd>
	            	<dt>难度:</dt>
	            	<dd>{% for i in 1..course.level %}<span class="glyphicon glyphicon-star"></span>{% endfor %}</dd>
	            	<dt>时长:</dt>
	            	<dd>{{course.time}}</dd>
	            	<dt>语言:</dt> 
	            	<dd>{{course.language}}</dd>
	            	<dt>观看数:</dt> 
	            	<dd>{{course.view}}</dd>
	            </dl>
            </div>
            
            <div class="timeline-footer">
				<div class="btn-group">
				  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
				    操作 <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu">
				  		<li><a href="#">收藏</a></li>
				  		<li><a href="#">分享</a></li>
				  </ul>
				</div>
                
            	<a class="btn btn-primary btn-sm pull-right" href="{{ url('mc_college_learn' , { 'id' : course.id } ) }}">学习</a>

            </div>
          </div>
        </li>

        {% set flag = flag + 1 %}
        {% endfor %}
        
        <li class="clearfix" style="float: none;"></li>
    </ul>

</div>
{% endblock %}





