{% trans_default_domain 'FOSUserBundle' %}

{{ form_errors(form) }}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">

	<h3>修改我的密码:</h3>
   	
    <div class="form-group">
    	<label>{{form_label( form.current_password )}}</label>
    	<div>{{form_widget( form.current_password , {'attr' : {'class':'form-control'}} ) }}</div>
    </div>

	{% for passwordField in form.plainPassword %}
	    <div class="form-group">
	        <label>{{ form_label(passwordField) }}</label>

	        <div>{{ form_widget(passwordField, { 'attr': {'class': 'form-control'} }) }}</div>
	    </div>
	{% endfor %}

	{% for x in form %}
		{{form_widget(x)}}
	{% endfor %}

    <div>
        <input class="btn btn-primary btn-sm" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
